.formContainer {
  width: 538px;
  height: auto;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;

  background: #efefefd9;

}
.formContainer h2{
    padding-left: 40px;
    padding-top: 10px;
    color: black;
}
.formContainer input,select {
  width: 223px;
  height: 51px;
  gap: 0px;
  border-radius: 15px;
  opacity: 0px;

  background: linear-gradient(0deg, #d9d9d9, #d9d9d9),
    linear-gradient(0deg, #d9d9d9, #d9d9d9),
    linear-gradient(0deg, #fbfbfb, #fbfbfb);

  box-shadow: 0px 4px 4px 0px #00000040;

  border: none;
}

.formContainer form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
    /* border: 1px solid black; */
    padding-bottom: 20px;
}

.cancelBtn{
    width: 112px;
    height: 51px;   
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px 0px #00000040;

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    border: none;
}

.submitBtn{
    width: 223px;
    height: 51px;    
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;

    background-color: #F4BB4A;
    box-shadow: 0px 4px 4px 0px #00000040;

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;

    border: none;
}